@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<<div>
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="@Model.Walker.ImageUrl" />
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Client</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{List<Walks> orderedWalks = Model.Walks.OrderBy(walk => walk.Dog.Owner.Name).ToList();
                            foreach (Walks walk in orderedWalks)
                            {
                                TimeSpan walkDuration = TimeSpan.FromSeconds(walk.Duration);
                                string walkDurationString = $"{walkDuration.Hours}hr {walkDuration.Minutes}min";

                            <tr>
                                <td>@walk.Date.ToString("M/dd/yyyy")</td>
                                <td>@walk.Dog.Owner.Name</td>
                                <td>@walkDurationString</td>
                            </tr>
                            }
                         }
                    </tbody>
                </table>
            </div>
        </section>

        <section class="col-lg-4 col-md-8 container mt-5">
            @{
                <h1>Total Walk Time: @Model.TotalDurationString</h1>
            }
        </section>
    </div>
</div>
